.sign-in-container {
  height: 90vh;
  width: 100vw;
  background-color: whitesmoke;
  .sign-in-modal {
    height: 30rem;
    width: 40rem;
    position: absolute;
    margin: 6rem 0 0 25rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }

  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      color: #fdde33;
      font-size: 1rem;
    }
  }
}
